body{
    /*background-attachment: scroll;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
}
header{
    background-attachment:fixed;
    background-repeat: no-repeat;
    color: white;
    height: 200pix;
    margin: auto;
    margin-top: 100px;
    width: center;
    /*background-color: aqua;*/
}
h1{
    /*display: flex;*/
    font-size: 50px;
    font-variant-numeric: oldstyle-nums;
    justify-content: center;
    text-shadow: 10px;
}
h3{
    font-variant-numeric: oldstyle-nums;
    justify-content: center
}
h4{
    font-variant-numeric: oldstyle-nums;
    color: white;
    outline-color: white;
    text-decoration: white;
    
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
ul{
    border-width: 3px;
    display: flex;
    list-style-type: none;
}
section a{
    text-emphasis-position: left;
    border-bottom-left-radius: 10px / 5px;
    border-left: 6px;
    text-decoration: white;
    text-overflow: ellipsis;
    /*border-radius: 20px / 10px;
    font-weight: bold;
    padding-left: 2% ;
    border: 3px;*/
}

.slide{

}


href{
    border-bottom-left-radius: 10px / 5px;
    color: white;
    /*background-color: #1F8B28;
    border-width: 3px;
    display: flex;
    margin-top: 80px;
    margin-right: 140px;
    margin-left: 10px;
    margin-bottom: 200px;
    margin-inline-end: auto;
    posiion: relative;
    width: 30%;*/
}
.doc{
    border-bottom-left-radius: 10px / 5px;
    color: white;
    /*background-color: #6d0fd2;
    border-width: 3px;
    display: flex;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: auto;
    margin-inline-end: 100px;
    position: relative;
    width: 30%;*/
}
.moncv{
    border: 3px;
    color: white;

    /*background-color: #f8820c;
    border-radius: 5%;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 20px;
    margin-inline-end: auto;
    position: relative;
    width: 30%;*/
}
.Fichier_pdf{
    border: 3px;
    color: white;

    /*border-radius: 5%;
    display: flex;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-inline-end: auto;
    position: relative;
    width: 30%;*/
}